﻿<div class="page-wrapper">
    <div class="page-header">
        <h1>Welcome to chit chat</h1>
    </div>

    <p class="text-center">
        <a ui-sref="login" class="btn btn-lg btn-default">Login</a> or <a ui-sref="register" class="btn btn-lg btn-primary">Register</a>
    </p>
</div>
