﻿<div class="page-wrapper">

    <div class="page-header">
        <h1>Edit Profile</h1>
    </div>

    <form ng-submit="vm.updateProfile()">
        <p ng-hide="vm.profile.displayName">
            You'll need a display name before you can start chatting.
        </p>

        <div class="input-group">
            <input required type="text" class="form-control" placeholder="Display Name" ng-model="vm.profile.displayName">
        </div>
        <input type="submit" class="btn btn-default" value="Set Display Name">
    </form>

</div>