﻿<div ng-show="vm.error">
    <span>{{ vm.error.message }}</span>
</div>
<form ng-submit="vm.login()">
    <div class="input-group">
        <input type="email" class="form-control" placeholder="Email" ng-model="vm.user.email">
    </div>
    <div class="input-group">
        <input type="password" class="form-control" placeholder="Password" ng-model="vm.user.password">
    </div>
    <input type="submit" class="btn btn-default" value="Log In">
</form>