﻿<div class="page-wrapper">
    <div class="page-header">
        <h1>Register</h1>
    </div>
    <div ng-show="vm.error">
        <span>{{ vm.error.message }}</span>
    </div>
    <form ng-submit="vm.register()">
        <div class="input-group">
            <input type="email" class="form-control" placeholder="Email" ng-model="vm.user.email">
        </div>
        <div class="input-group">
            <input type="password" class="form-control" placeholder="Password" ng-model="vm.user.password">
        </div>
        <input type="submit" class="btn btn-default" value="Register">
    </form>
</div>

