﻿<div class="header">
    <h1>Create a room</h1>
</div>

<form ng-submit="vm.createRoom()">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Room Name" ng-model="vm.newRoom.name">
    </div>
    <input type="submit" class="btn btn-default" value="Create Room">
</form>

