﻿<div class="header">
    <div>
        <h1>{{ vm.channelName }} </h1>
        <div class="participant" outside-click="hideDiv();">
            <span ng-click="vm.displayParticipants()">
                <i class="fa fa-user-circle" aria-hidden="true"></i> Participants
            </span>
        </div>

        <div class="participantList" ng-show="vm.showParticipant">
            <div ng-repeat="participant in vm.participants">
                {{participant}}
            </div>
        </div>
    </div>
</div>

<div class="message-wrap" ng-repeat="message in vm.messages">
    <img class="user-pic" ng-src="{{ roomCtrl.getGravatar(message.uid) }}" />
    <div class="message-info">
        <div class="user-name">
            {{vm.getDisplayName(message.uid)}}
            <span class="timestamp">{{ message.timestamp | date:'short' }}</span>
        </div>
        <div class="message">
            {{ message.body }}
        </div>
    </div>
</div>

<form class="message-form" ng-submit="vm.sendMessage()">

    <div class="input-group">
        <input type="text" class="form-control" ng-model="vm.message" placeholder="Type a message...">
        <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Send</button>
        </span>
    </div>

</form>