﻿<div class="main">
    <div class="sidebar">
        <div class="slack-name">
            <h2>Chit chat</h2>
        </div>

        <div class="channel-list">
            <div class="list-head">Rooms</div>
            <div class="room" ng-repeat="room in vm.rooms">
                <a ui-sref="channels.messages({roomId: room.$id})" ui-sref-active="selected"># {{ room.name }}</a>
            </div>
            <div class="room create">
                <a ui-sref="channels.create">+ create room</a>
            </div>
            <div class="list-head">Private Messages</div>
            <div class="channel" ng-repeat="user in vm.users">           
                <a ng-if="user.$id !== vm.profile.$id" ui-sref="channels.direct({uid: user.$id})" ui-sref-active="selected">
                    <span class="presence" ng-class="{online: user.online}"></span>
                    {{ user.displayName }}
                </a>
            </div>
        </div>
        <div class="my-info">
            <img class="user-pic" ng-src="{{ vm.getGravatar(vm.profile.$id) }}" />
            <div class="user-info">
                <!--<div class="user-name">
                    {{ vm.profile.displayName }}
                </div>-->
                <div class="user-name">
                    <span class="presence" ng-class="{online: vm.profile.online}"></span>
                    {{ vm.profile.displayName }}
                </div>
                <div class="options">
                    <a ui-sref="profile">edit profile</a>
                    /
                    <a href="#" ng-click="vm.logout()">logout</a>
                </div>
            </div>
        </div>
    </div>
    <div class="message-pane">
        <ui-view></ui-view>
    </div>

    <div class="sidebar pull-right">
        <div class="slack-name">
            <h2>Chat history</h2>
            <input type="text" class="form-control" ng-model="vm.messageHistory" ng-keypress="vm.onEnter($event)" placeholder="Search chat history...">
        </div>

        <div class="channel-list">
            <div class="list-head"></div>
            <div ng-repeat="history in vm.histories">
                <span style="color: rgba(255,255,255,0.6)">{{history}}</span>
            </div>
        </div>
        <div></div>
        <div ng-show="vm.visibleAdmin" class="slack-name">
            <h2>Manage User</h2>
        </div>
        <div ng-show="vm.visibleAdmin" class="channel" ng-repeat="user in vm.users">
            <a ng-if="user.$id !== vm.profile.$id" style="text-decoration:none;">
                <span style="color: rgba(255,255,255,0.6); margin-left:10px">{{ user.displayName }}</span>
                <span><i class="fa fa-window-close" aria-hidden="true" style="cursor:pointer; color:rgba(255,255,255,0.6);" ng-click="vm.removeUser(user.$id)"></i></span>
            </a>

        </div>
    </div>
</div>